# Dependencies
node_modules/

# Builds
dist/
build/
.next/
.expo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.idea/
.vscode/

# Prisma
apps/api/prisma/migrations/dev.db*
